<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<h1><%= @title %></h1>

HTML メールのテスト

<h2>リンクのテスト</h2>

<p>
  <%= link_to "テキストリンク", "https://speakerdeck.com/ttanimichi" %>
</p>

<p>
  <%= link_to "https://ttanimichi.com/", "https://ttanimichi.com/" %>
</p>

</body>
</html>
